.align_center {

}
/* Start Register */
/* Start Sign */
.upper-bar .sign {
    min-width: 200px;
    display: flex;
    justify-content: flex-end;
    margin-right: auto!important;
}
.upper-bar .sign .signin a,
.upper-bar .sign .signup a {
    color: #db9535;
    display: inline-block;
    text-decoration: none;
    margin-right: 15px;
}
.upper-bar .sign .signup:hover a,
.upper-bar .sign .signin:hover a {
    color: var(--redColor);
    transition: color .3s ease-in-out;
}
/* End Sign */
/* Start Req Nav Button */

.navbar .req-nav-btn {
    min-width: 200px;
    display: flex;
    justify-content: flex-end;
    
}
@media (max-width: 992px) {
    .navbar .req-nav-btn {
        padding-bottom: 10px;
    }
}
.navbar .req-nav-btn .nav-btn a {
    background-color: var(--mainColor);
    color: #FFF;
    padding: 5px 25px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
}
.navbar .req-nav-btn .nav-btn:hover a {
    background-color: var(--redColor);
    transition: background-color .3s ease-in-out;
}
/* End Req Nav Button */
/* Start Form */
form fieldset {
    border: 1px solid #DDD;
    padding: 30px 40px;
    margin-bottom: 40px;
}
form .form-content {
    position: relative;
}

form .form-content input {
    border: none;
    border-bottom: 1px solid #DDD;
    margin-top: 40px;
    
}
form .form-content .form-control:focus {
    outline: none;
    border-color: #DDD;
    box-shadow: none;
}
form .form-content .form-control[readonly] {
    background-color: #FFF!important;
}
form .form-content label {
    position: absolute;
    top: 14%;
    right: 0px;
    color: #999;
}
form .alert {
    display: none;
}

form .form-content .form-border {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2px;
    width: 0%;
    background-color: var(--redColor);
    transition: width .3s ease-in-out;
}
form .form-content .icon {
    position: absolute;
    top: 14%;
    left: 0;
    color: var(--redColor);
}
form .submit,
form .submit:focus {
    outline: none;
    border: none;
    box-shadow: none;
    background-color: #3ab54a;
    color: #FFF;
    cursor: pointer;
}
form .submit:hover {
    transition: all .3s ease-in-out;
    background-color: var(--redColor);
}

/* End Form */
/* DatePicker */
.datepicker-container {
    padding: 15px;
}
.datepicker-top-left, .datepicker-top-right {
    border-color: transparent;
    border-top-color: var(--redColor)!important;
}
.datepicker-top-left:before {
    border-bottom-color: var(--redColor)!important;
}
.datepicker-container .picked {
    color: #FFF!important;
    background-color: var(--mainColor)!important;
}
.datepicker-container .highlighted {
    color: #FFF!important;
    background-color: var(--redColor)!important;
}

.datepicker-panel > ul > li:hover {
    color: #FFF!important;
    background-color: var(--mainColor)!important;
}
/* End Register */
