/* Start Sign */
.upper-bar .sign {
    min-width: 200px;
    display: flex;
    justify-content: flex-end;
    margin-right: auto!important;
}
.upper-bar .sign .signin a,
.upper-bar .sign .signup a {
    color: #db9535;
    display: inline-block;
    text-decoration: none;
    margin-right: 15px;
}
.upper-bar .sign .signup:hover a,
.upper-bar .sign .signin:hover a {
    color: var(--redColor);
    transition: color .3s ease-in-out;
}
/* End Sign */
/* Start Req Nav Button */

.navbar .req-nav-btn {
    min-width: 200px;
    display: flex;
    justify-content: flex-end;
    
}
@media (max-width: 992px) {
    .navbar .req-nav-btn {
        padding-bottom: 10px;
        justify-content: flex-start;
    }
}
.navbar .req-nav-btn .nav-btn a {
    background-color: var(--mainColor);
    color: #FFF;
    padding: 5px 25px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
}
.navbar .req-nav-btn .nav-btn:hover a {
    background-color: var(--redColor);
    transition: background-color .3s ease-in-out;
}
/* End Req Nav Button */

/* Start Sign In */
form fieldset {
    border: 1px solid #DDD;
    padding: 30px 40px;
    margin-bottom: 20px;
}
form .form-logo {
    width: 200px;
}
form .form-logo img {
    width: 100%;
}
form .form-content {
    position: relative;
}

form .form-content input {
    border: none;
    border-bottom: 1px solid #DDD;
    margin-top: 40px;
    
}
form .form-content .form-control:focus {
    outline: none;
    border-color: #DDD;
    box-shadow: none;
}
form .form-content label {
    position: absolute;
    top: 14%;
    right: 0px;
    color: #999;
}
form .form-content .form-border {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2px;
    width: 0%;
    background-color: var(--redColor);
    transition: width .3s ease-in-out;
}
form .submit,
form .submit:focus {
    outline: none;
    border: none;
    box-shadow: none;
    background-color: #3ab54a;
    color: #FFF!important;
    cursor: pointer;
    margin-top: 15px;
}
@media (max-width: 768px) {
    form .submit.sign-in {
        margin-top: 10px;
    }
    form .submit.new-reg {
        margin-top: 0;
    }
}

form .submit.new-reg {
    background-color: var(--mainColor);
}
form .submit:hover {
    transition: all .3s ease-in-out;
    background-color: var(--redColor);
}
form .rem-check {
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
    -o-appearance: none!important;
    appearance: none!important;
}
form .label-check {
    position: relative;
    margin-right: 20px;
    user-select: none;
    cursor: pointer;
    color: var(--mainColor);
}
form .label-check:before {
    content: '';
    position: absolute;
    top: 5px;
    right: -20px;
    height: 15px;
    width: 15px;
    background-color: #FFF;
    border-radius: 3px;
    border: 1px solid #999;
}
form .rem-check:checked + .label-check:after {
    font-family: 'fontAwesome';
    content: '\f00c';
    line-height: 1;
    font-size: 14px;
    position: absolute;
    top: 5px;
    right: -20px;
    height: 15px;
    width: 15px;
    background-color: red;
    color: #FFF;
    border-radius: 3px;
    transition: all 1s ease-in-out;
}
form .forgot a {
    color: var(--mainColor);
    text-decoration: none;
}
form .forgot a:hover {
    transition: all .3s ease-in-out;
    color: var(--redColor);
}
form .forgot span {
    display: inline-block;
}
form .forgot .icon {
    width: 23px;
}
form .forgot .icon img {
    max-width: 100%;
}
/* End Sign In */